body{
    margin: 0 auto;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color:brown;
    position: fixed;
    z-index: 1;
    top: 0px;
}
.navbar-li{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}
.burger-bar{
    list-style-type: none;
    display: none;
}
.bar input:focus{
    background-color: aqua;

}